<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<table border="1">
    <th>Department ID</th>
    <th>Username</th>
    <th>Department</th>
  <tr>
      {% for i in object_list %}
      <td>{{i.did}}</td>
      <td>{{i.username}}</td>
      <td>{{i.department}}</td>
      <td><a href="/approval/{{i.did}}">Approval</a></td>
      <td><a href="/rejection/{{i.did}}">Reject</a></td>
      {% endfor %}
  </tr>

</table>
{% endblock content %}
</body>
</html>