<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<table border="1">
    <th>Department ID</th>
    <th>Image</th>
    <th>Username</th>
    <th>Department</th>

    {% for i in object_list %}
  <tr>
      <td>{{i.did}}</td>
      <td><img src="{{i.photo.url}}" alt="" style="width:100px;height:150px"></td>
      <td>{{i.username}}</td>
      <td>{{i.department}}</td>
      <td><a href="/approval/{{i.did}}">Approval</a></td>
      <td><a href="/rejection/{{i.did}}">Reject</a></td>
  </tr>
    {% endfor %}

</table>
{% endblock content %}
</body>
</html>